export(etc.diff, etc.rat)

import(mvtnorm)

importFrom("stats", "model.frame", "pt", "qt", "sd", "wilcox.test")

S3method(print, etc.diff)
S3method(summary, etc.diff)

S3method(print, etc.rat)
S3method(summary, etc.rat)
